html,
body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #0c456b;       
        }

        #map-headline {
        color: #fff;
        margin: 5rem auto 1rem auto;
        font-size: 1.5rem;
        }

        #map {
        height: 80%;
        width: 80%;
        margin: 1rem auto 3rem auto;
        padding: 0;
        }

        #myCountry {
        position: relative;
        overflow: hidden;
        display: none;
        background: url(https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

/*NAVBAR*/
    .navbar-brand {
    background: url(https://www.brandbucket.com/sites/default/files/logo_uploads/70900/large_travelum-thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 1.9rem;
    border-radius: 0.25rem;
    margin-left: 0.3rem;
    background-color: #fff;
    opacity: 0.9;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.navbar-nav a:hover {
    opacity: 0.9;
    font-weight: 700;
}

/*FOOTER*/
.container-footer {
    padding: 1.6rem 0 0 0;
    background: #343a40;
    background-size: cover;
}

.footer-contact-icons {
    font-size: 0.75rem;
}

.social-media-icons li a i {
    font-size: 4rem;
    color: #fafafa;
    opacity: 0.9;
}

.navbar-brand:hover,
.social-media-icons li a i:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.list-inline-item {
    margin: 1em 2em 0em;
}

.copyright {
    color: #fff;
    font-size: 0.9rem;
}

/*CONTACT SECTION*/
#contact-section {
    background: url("https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; 
    margin: 0;
}

/*FORM*/
#form-section {
    background: #000;
    background-size: cover;
    padding: 2rem 0;
}

.form-size {
    width: 60vw;
    margin: auto;
    padding: 4rem 6rem;
}

/*IMAGES*/
#img-headline {
    color: #fff;
    margin: 2rem auto;
    text-decoration: underline;
}

h2 {
    color: #fff;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 5em;
    z-index: 2;
}

.img-gallery {
    -webkit-box-shadow: 5px 10px 16px 8px rgba(0,0,0,0.75);
     box-shadow: 5px 10px 16px 8px rgba(0,0,0,0.75);
}

/*BUTTONS*/
.btn-success {
    margin-top: 2rem;
}

/*MEDIA QUERIES*/
@media (min-width: 992px) and (max-width: 1199px) {
    .img-gallery {
        width: 18rem;
        height: 14rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-gallery {
        width: 14rem;
        height: 12rem;
    }
}

@media (min-width: 992px) {
    .form-size {
        width: 45vw;
    }
}

/*BACKGROUND IMAGES*/
#bar {
  background: url(https://images.unsplash.com/photo-1523531294919-4bcd7c65e216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }
#ct {
  background: url(https://images.unsplash.com/photo-1525697472245-fb8fd8594791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#dub {
  background: url(https://images.unsplash.com/photo-1554900662-d4fb5f28aa59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#mal {
  background: url(https://images.unsplash.com/photo-1514282401047-d79a71a590e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#rio {
  background: url(https://images.unsplash.com/photo-1507125524815-d9d6dccda1dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#sthlm {
  background: url(https://images.unsplash.com/photo-1572225303717-a96db5e8d8b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#syd {
  background: url(https://images.unsplash.com/photo-1524293581917-878a6d017c71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }

#tok {
  background: url(https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-backdrop-filter: blur(0.4rem);
        backdrop-filter: blur(0.4rem);
        }