

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c456b;       
}

h1 {
    margin-top: 2rem auto;
    color: #fff;
    margin: 5rem auto 1rem auto;
    text-decoration: underline;
    font-size: 2rem;
} 

h2 {
    color: #fff;
}

/*NAVBAR*/
.navbar-brand {
    background: url(https://www.brandbucket.com/sites/default/files/logo_uploads/70900/large_travelum-thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 1.9rem;
    border-radius: 0.25rem;
    margin-left: 0.3rem;
    background-color: #fff;
    opacity: 0.9;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.navbar-nav a:hover {
    opacity: 0.9;
    font-weight: 700;
}

/*GOOGLE MAPS*/
#map {
    height: 80%;
    width: 80%;
    margin: 1rem auto 3rem auto;
    padding: 0;
}

#map-headline {
    color: #fff;
    margin: 5rem auto 1rem auto;
    font-size: 1.5rem;
}

/*FOOTER*/
#footer-container {
    padding: 1.6rem 0 0 0;
    background: #343a40;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-inline-item {
    margin: 1em 2em 0em;
}

.copyright {
    color: #fff;
    font-size: 0.9rem;
}

/*ICONS*/
.social-media-icons li a i {
    font-size: 4rem;
    color: #fafafa;
    opacity: 0.9;
}

.footer-contact-icons {
    font-size: 0.75rem;
}

.flag-icon {
    width:3rem; 
    height: 3rem;
    margin-bottom: 2.5rem;
}

/*BUTTONS*/
.btn-success {
    margin-top: 2rem;
}

/*HOVER ICONS*/
.navbar-brand:hover,
.social-media-icons li a i:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/*CONTACT SECTION*/
#contact-section {
    background: url("https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; 
    margin: 0;
}

/*FORM*/
#form-section {
    background: #000;
    background-size: cover;
    padding: 2rem 0;
}

.form-size {
    width: 60vw;
    margin: auto;
    padding: 4rem 6rem;
}

/*VIDEOS*/
.videos-gallery {
    width: 24rem; 
    height: 19rem;
    margin: 1rem 0 2rem 0;
    -webkit-box-shadow: 0.3rem 0.6rem 1rem 0.5rem rgba(0,0,0,0.75);
     box-shadow: 0.3rem 0.6rem 1rem 0.5rem rgba(0,0,0,0.75);
}

/*BACKGROUND IMAGES*/
#bar {
    background: url(https://images.unsplash.com/photo-1550401732-f2615d09b2d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#ct {
    background: url(https://images.unsplash.com/photo-1495492429145-2c82ff875f67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#dub {
    background: url(https://images.unsplash.com/photo-1549918864-48ac978761a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#mal {
    background: url(https://images.unsplash.com/photo-1559682310-469de1c523ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#ny {
    background: url(https://images.unsplash.com/photo-1496442226666-8d4d0e62e6e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#rio {
    background: url(https://images.unsplash.com/photo-1517020197030-d6d1fbd5ec09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#sthlm {
    background: url(https://images.unsplash.com/photo-1509356843151-3e7d96241e11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#syd {
    background: url(https://images.unsplash.com/photo-1467803738586-46b7eb7b16a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

#tok {
    background: url(https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

/*MEDIA QUERIES*/
@media (min-width: 992px) and (max-width: 1199px) {
.videos-gallery {
    width: 18rem;
    height: 14rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
.videos-gallery {
    width: 12rem;
    height: 14rem;
    }
 h2 {
    font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
.form-size {
    width: 45vw;
    }
}

@media (max-width: 567px) {
.social-media-icons li a i {
    font-size: 2rem;
}
.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}
.list-inline-item {
    margin: 1em 0em 0em;
    }
}