@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

#map{
        height: 400px;
        width: 80%;
        display: block; 
        margin: auto;
    }

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 500;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

/*----HEADINGS & TEXT----*/

p {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 400;
}

h1 {
    margin-top: 3rem;
    padding: 1rem;
    font-weight: 500;
}

h2 {
    margin-bottom: 1.25rem;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0;
    line-height: 0;
}


/*----BACKGROUNDS---*/

.container-fluid,
.footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#home-section {
    background: #014374;
    background-size: cover;
}

#maps-section {
    background: #000;
    background-size: cover;
}

#gallery-section {
    background: #3CB371;
    background-size: cover;
}

/*--- ----------------------NAVBAR---*/

.navbar-brand {
    background: url("../images/#");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border-radius: 1.25rem;
    margin-left: 5px;
}

.navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.collapse:not(.show) {
    display: contents;
}

.nav-link {
    color: #fafafa;
}

.navbar .navbar-nav a {
    opacity: 0.8;
    font-size: 1.1rem;
}

.navbar .navbar-nav a:hover {
    opacity: 1;
    font-weight: 700;
}

/*--------------------------FOOTER-*/

.container-footer {
    padding: 1.6rem 0 0 0;
    background: #343a40;
}

.footer-contact-icons {
    font-size: 0.75rem;
}

.social-media-icons li a i {
    font-size: 2.5rem;
}

.copyright {
    font-size: 0.9rem;
}