@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
html,
body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #3498DB;
      }


    #myCountry {
        position: relative;
        overflow: hidden;
        display: none;
    }

      #map {
        height: 80%;
        width: 80%;
        margin: 6rem auto 3rem auto;
        padding: 0;
      }

/*----------------------------NAVBAR*/
      .navbar-brand {
    background: url(https://www.brandbucket.com/sites/default/files/logo_uploads/70900/large_travelum-thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 30px;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border-radius: 0.25rem;
    margin-left: 5px;
    background-color: #fff;
}

.navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.collapse:not(.show) {
    display: contents;
}

.navbar .navbar-nav a .nav-link {
    color: #fafafa;
    float: right;
}

.navbar .navbar-nav a {
    opacity: 0.8;
    font-size: 1.1rem;
}

.navbar .navbar-nav a:hover {
    opacity: 1;
    font-weight: 700;
}

/*----------------------------FOOTER*/

.container-footer {
    padding: 1.6rem 0 0 0;
    background: #343a40;
}

.footer-contact-icons {
    font-size: 0.75rem;
}

.social-media-icons li a i {
    font-size: 4rem;
    color: #fafafa;
}

.list-inline-item {
    margin: 1em 2em 0em;
}

.copyright {
    font-size: 0.9rem;
    color: #fafafa;
}

/*----------------------------CONTACT HTML*/

#contact-section {
    background: url("https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
    margin: 0;
}

#form-section {
    background: #000;
    background-size: cover;
    padding: 60px 100px;
}

.form-size {
    width: 60%;
    margin: auto;
}

/*----------------------------IMAGES*/

img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 5em;
}


/*----------------------------BUTTONS*/
.btn-success {
    margin-top: 2rem;
}